/* CSS for HTML - Def */

html{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto',sans-serif;
}
body{
  width: 950px;
  margin: auto;
}
nav{
  background-color: #E0E0E0;

}
nav > ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a{
  display: block;

  border-right: #FFF 2px solid;
  padding: 8px 16px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}


  section{
    float: left;
    max-width: 700px;
    padding: 16px 0px;
  }
  article{
    padding: 16px;
  }
  article > header{
    width: 100%;
    box-sizing: border-box;
  }
  article > figure{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  aside{
    display: block;
    float: right;
    width: 234px;
  }
  footer{
    background-color: #E0E0E0;
    padding: 16px;
    clear: both;
  }
img{
    max-width: 100% ;
  }
