/* CSS for HTML - Def */
html, body, ul, section{
  margin: 0px;
  padding: 0px;
}
section{
  float: left;
  max-width: 700px;
}
section > article{
  padding: 40px;
}
section > figure{
  margin: 0px;
  padding: 0px;
  display: block;
}


html{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto',sans-serif;
}
body{
  width: 950px;
  margin: auto;
}
nav{
  background-color: #E0E0E0;
}
nav > ul{
  list-style: none;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a{
  display: block;
  border-right: #FFF 2px solid;
  padding: 8px 16px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
/* aside */
aside > nav > ul > li {
  display: block;
}
aside > nav > ul > li > a{
  display: block;
  border-bottom: #FFF 2px solid;
  padding: 8px 16px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
aside > article{
  padding: 16px 0px;
}
aside > article > header > figure{}
aside > article > header > figure > img{}

  aside{
    display: block;
    float: right;
    width: 234px;
  }
  footer{
    background-color: #E0E0E0;
    padding: 16px;
    clear: both;
  }
img{
    max-width: 100% ;
  }
