/* CSS for HTML - Def */
html{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
}
html, body, ul, section{
  margin: 0px;
  padding: 0px;
}
body{
  width: 950px;
  margin: auto;
}
.clear{
  clear: both;
}
h1,h2,h3,h4,h5{
  font-weight: 500;
}
code{
  background-color:#E0E0E0;
  display: block;
  padding: 16px;
}
article aside{
  background-color:#E0E0E0;
  display: block;
  padding: 16px;
  margin: 16px 0px 16px 16px;
}

section{
  float: left;
  padding: 16px 0px;
  max-width: 670px;
}
article{
  padding: 32px;
}
section > header{
  padding: 16px 16px;
  font-weight: 400;
  background-image: url('/html5/myhtml/files/images/img.jpg');
  background-size: cover;
}
section > header > h1{
  margin: 0px;
  display: block;
  float: left;
  clear: both;
  font-size: 40px;
  background-color: #FFF;
  padding: 8px 16px;
  font-weight: 300;
}
section > header > p{
  clear: both;
    background-color: #FFF;
    margin: 0px;
    padding: 8px 16px;
}
section > article{
  padding: 32px;
}

section > figure{
  margin: 0px;
  padding: 0px;
  display: block;
  clear: both;
}


nav{
  background-color: #E0E0E0;
}
nav > ul{
  list-style: none;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a{
  display: block;
  border-right: #FFF 2px solid;
  padding: 8px 16px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
/* aside */
aside > nav > ul > li {
  display: block;
}
aside > nav > ul > li > a{
  display: block;
  border-bottom: #FFF 2px solid;
  padding: 8px 16px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
aside > article{
  padding: 16px 0px;
}
aside > article > header > figure{}
aside > article > header > figure > img{}

  aside{
    display: block;
    float: right;
    width: 234px;
  }
  footer{
    background-color: #E0E0E0;
    padding: 16px;
    clear: both;
  }
img{
    max-width: 100% ;
  }
